  <button class="btn btn-default">
    <span><i class="glyphicon glyphicon-backward"></i> {{link-to (t 'artists') 'artists'}}</span>
    <span><img src="http://www.ember-power-select.com/flags/gb.svg" class="icon-flag" alt="{{artist.country}}"></span><h4> {{model.name}}</h4>
  </button>

    <div class="col-md-9">
      <ul class="list-group">
  			<li class="list-group-item">
          <iframe class="embed-youtube" src="{{model.urlyoutube}}"></iframe>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
{{#if application.logado}}
<div class="container-fluid">Aquí los anuncios y publicidad<br/>para el perfil logado<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
{{else}}
<div class="container-fluid">Aquí los anuncios y publicidad<br/>para el perfil público<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>
{{/if}}


    </div>
    <div class="col-md-3">
      <ul class="list-group">
  		  <li class="list-group-item">
          <iframe class="embed-spotify" src="{{model.urlspotify}}"></iframe>
        </li>
      </ul>
    </div>

    <div class="col-md-3">

	<ul class="list-group">
    <li class="list-group-item active">albums</li>
	{{#each model.album as |album| }}
    <li class="list-group-item">
	    <span class="badge">{{album.year}}</span>
	    <strong>{{capitalize album.name}}</strong>
	  </li>
  {{/each}}
	</ul>

</div>

  {{#each model.festival as |festival| }}
  <div class="col-md-3">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge"><i class="glyphicon glyphicon-pushpin"></i></span>
				<strong>{{link-to festival.name 'festivals.detail' festival}}</strong>
			</li>
		  <li class="list-group-item">
			<span class="badge"><span><img src="http://www.ember-power-select.com/flags/{{festival.country-code}}.svg" class="icon-flag" alt="{{festival.country}}"></span></span>
		    {{festival.city}}, {{festival.country}}
		  </li>
			<li class="list-group-item">
		    <span class="badge"><i class="glyphicon glyphicon-thumbs-up"></i></span>
		    {{moment-format festival.fechaLimite}}
		  </li>
		</ul>
  </div>
  {{/each}}



{{outlet}}
