<div class="col-md-3">

		<ul class="list-group">
			{{#if cienXcien}}
			<li class="list-group-item active">
				<span class="badge">
					<i class="glyphicon glyphicon-filter"></i>
				</span>
		    {{filteredArtists.length}} {{t "artists"}}
		  </li>
			{{else}}
		  <li class="list-group-item">
				<span class="badge">
					<i class="glyphicon glyphicon-filter"></i>
				</span>
				<span class="badge btn">
					<i class="glyphicon glyphicon-remove" {{action 'clear'}}></i>
				</span>
		    <strong>{{filteredArtists.length}} {{t "artists"}}</strong>
		  </li>
			{{/if}}
			<li class="list-group-item">
				<span class="badge">
					<i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
				</span>
				{{#if filterName}}
					<span class="badge btn">
					<i class="glyphicon glyphicon-remove" {{action 'clearName'}}></i>
					</span>
				{{/if}}
				<div class="input-group">
					{{input value=filterName placeholder=(t 'name') class="form-control" aria-describedby="nameFilter"}}
				</div>
		  </li>
			<!--li class="list-group-item" style="opacity:0.6">
				<span class="badge list-group-item-warning">
					<i class="glyphicon glyphicon-heart"></i>
				</span>
				{{#if filterRating}}
					<span class="badge btn btn-danger">
					<i class="glyphicon glyphicon-remove" {{action 'clearRating'}}></i>
					</span>
				{{/if}}
		    {{star-rating rating=filterRating on-click='updateRating'}}
			</li>
			<li class="list-group-item" style="opacity:0.6">
				<span class="badge list-group-item-warning"><i class="glyphicon glyphicon-eur"></i></span>
				{{#if filterPrice}}
					<span class="badge btn btn-danger">
					<i class="glyphicon glyphicon-remove" {{action 'clearPrice'}}></i>
					</span>
				{{/if}}
		    {{star-rating rating=filterPrice on-click='updatePrice'}}
			</li-->
			<li class="list-group-item">
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentaje}}%">
				    <span class="sr-only"></span>{{#if cienXcien}}{{porcentaje}}%{{/if}}
				  </div><span class="badge">{{porcentaje}}%</span>
				</div>
			</li>
		</ul>

	</div>


	{{#each filteredArtists as |artist| }}
		<div class="col-md-3" >
			<ul class="list-group">
				<li class="list-group-item">
					<strong>{{link-to artist.name 'artists.detail' artist}}</strong>
				</li>
				<li class="list-group-item">
					<span class="badge"><span><img src="http://www.ember-power-select.com/flags/gb.svg" class="icon-flag" alt="{{festival.country}}"></span></span>
					<span class="btn btn-default">
				<a target="_blank" href="{{artist.urlspotify}}" class="icon-flag">
					<img alt="spotify" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjcuNSAxNjcuNSI+PHBhdGggc3R5bGU9ImZpbGw6IzFFRDc2MCIgZD0iTTgzLjcgMEMzNy41IDAgMCAzNy41IDAgODMuN2MwIDQ2LjMgMzcuNSA4My43IDgzLjcgODMuNyA0Ni4zIDAgODMuNy0zNy41IDgzLjctODMuN1MxMzAgMCA4My43IDB6TTEyMiAxMjAuOGMtMS40IDIuNS00LjYgMy4yLTcgMS43LTE5LjgtMTItNDQuNS0xNC43LTczLjctOC0yLjguNS01LjYtMS4yLTYuMi00LS4yLTIuOCAxLjUtNS42IDQtNi4yIDMyLTcuMyA1OS42LTQuMiA4MS42IDkuMyAyLjYgMS41IDMuNCA0LjcgMS44IDcuMnpNMTMyLjUgOThjLTIgMy02IDQtOSAyLjItMjIuNS0xNC01Ni44LTE4LTgzLjQtOS44LTMuMiAxLTctMS04LTQuM3MxLTcgNC42LThjMzAuNC05IDY4LjItNC41IDk0IDExIDMgMiA0IDYgMiA5em0xLTIzLjhjLTI3LTE2LTcxLjYtMTcuNS05Ny40LTkuNy00IDEuMy04LjItMS05LjUtNS4yLTEuMy00IDEtOC41IDUuMi05LjggMjkuNi05IDc4LjgtNy4yIDEwOS44IDExLjIgMy43IDIuMiA1IDcgMi43IDEwLjctMiAzLjgtNyA1LTEwLjYgMi44eiIvPjwvc3ZnPg==">
				</a>
				</span>
				<a target="_blank" href="{{artist.urlyoutube}}">
					<img alt="YouTube" src="https://www.youtube.com/yt/img/logo_1x.png">
				</a>
			  </li>
			</ul>


		</div>
	{{/each}}
