
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">

				<ul class="list-group">
				  <li class="list-group-item">
				    <button {{action 'clear'}} class="badge list-group-item-danger"><i class="glyphicon glyphicon-erase"></i></button>
				    <i class="glyphicon glyphicon-filter"></i> {{t "artists"}}
				  </li>
				</ul>

			</div>
			<div class="panel-body">
				{{input value=filterName placeholder=(t 'name') class="form-control"}}
			</div>



			<div class="panel-footer">


				<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>{{filteredRestaurants.length}}
				  </div>
				</div>

			</div>
		</div>

	</div>
	<div class="col-md-6">
		<div class="panel panel-default">

			<div class="panel-body">
				{{#each filteredRestaurants as |restaurant| }}
					<div class="media">
						<a class="media-left media-middle">
							<video class="media-object" src='https://www.youtube.com/embed/YXwYJyrKK5A' width="480" height="480"></video>
						</a>
						<div class="media-body">
							{{link-to restaurant.name 'restaurants.detail' restaurant}}
<table><th><td><i class="label label-info"><i class="glyphicon glyphicon-heart"></i></i></td><td>{{star-rating rating=restaurant.rating}}</td><td><span class="label label-info">{{capitalize restaurant.cuisine}}</span></td></th></table>
<table><th><td><i class="label label-danger"><i class="glyphicon glyphicon-eur"></i></i></td><td>{{star-rating rating=restaurant.price}}</td></th></table>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
