	<div class="col-md-3">

		<ul class="list-group">
			{{#if cienXcien}}
			<li class="list-group-item active">
				<span class="badge list-group-item-warning">
					<i class="glyphicon glyphicon-filter"></i>
				</span>
		    {{filteredFestivals.length}} {{t "festivals"}}
		  </li>
			{{else}}
		  <li class="list-group-item">
				<span class="badge list-group-item-warning">
					<i class="glyphicon glyphicon-filter"></i>
				</span>
				<span class="badge btn btn-danger">
					<i class="glyphicon glyphicon-remove" {{action 'clear'}}></i>
				</span>
		    <strong>{{filteredFestivals.length}} {{t "festivals"}}</strong>
		  </li>
			{{/if}}
			<li class="list-group-item">
				<span class="badge list-group-item-warning">
					<i class="glyphicon glyphicon-sort-by-alphabet-alt"></i>
				</span>
				{{#if filterName}}
					<span class="badge btn btn-danger">
					<i class="glyphicon glyphicon-remove" {{action 'clearName'}}></i>
					</span>
				{{/if}}
				<div class="input-group">
					{{input value=filterName placeholder=(t 'name') class="form-control" aria-describedby="nameFilter"}}
				</div>
		  </li>
			<!--li class="list-group-item" style="opacity:0.6">
				<span class="badge list-group-item-warning">
					<i class="glyphicon glyphicon-heart"></i>
				</span>
				{{#if filterRating}}
					<span class="badge btn btn-danger">
					<i class="glyphicon glyphicon-remove" {{action 'clearRating'}}></i>
					</span>
				{{/if}}
		    {{star-rating rating=filterRating on-click='updateRating'}}
			</li>
			<li class="list-group-item" style="opacity:0.6">
				<span class="badge list-group-item-warning"><i class="glyphicon glyphicon-eur"></i></span>
				{{#if filterPrice}}
					<span class="badge btn btn-danger">
					<i class="glyphicon glyphicon-remove" {{action 'clearPrice'}}></i>
					</span>
				{{/if}}
		    {{star-rating rating=filterPrice on-click='updatePrice'}}
			</li-->
			<li class="list-group-item">
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentaje}}%">
				    <span class="sr-only"></span>{{#if cienXcien}}{{porcentaje}}%{{/if}}
				  </div><span class="badge list-group-item-warning">{{porcentaje}}%</span>
				</div>
			</li>
		</ul>

	</div>


{{#each filteredFestivals as |festival| }}
	<div class="col-md-3" >
		<ul class="list-group">
			<li class="list-group-item">
				<span class="badge list-group-item-info"><i class="glyphicon glyphicon-pushpin"></i></span>
				<strong>{{link-to festival.name 'festivals.detail' festival}}</strong>
			</li>
		  <li class="list-group-item">
			<span class="badge list-group-item-info"><span><img src="http://www.ember-power-select.com/flags/{{festival.country-code}}.svg" class="icon-flag" alt="{{festival.country}}"></span></span>
		    {{festival.country}}
		  </li>
			<li class="list-group-item">
		    <span class="badge list-group-item-info"><i class="glyphicon glyphicon-map-marker"></i></span>
		    {{festival.city}}
		  </li>
			<li class="list-group-item">
		    <span class="badge list-group-item-info"><i class="glyphicon glyphicon-calendar"></i></span>
		    {{moment-from-now festival.fechaDesde}} {{moment-format festival.fechaHasta}}
		  </li>
			<li class="list-group-item">
		    <span class="badge list-group-item-success"><i class="glyphicon glyphicon-thumbs-up"></i></span>
		    {{moment-format festival.fechaLimite}}
		  </li>
		</ul>


	</div>
{{/each}}
