<div class="row-fluid">

	<div class="page-header">
		<h1>
			{{link-to "" "index" class="span glyphicon glyphicon-list-alt"}}
			{{model.name}}
		</h1>
	</div>

	<div class="col-md-4">
		<img src="{{restaurant-img model.id}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">

		<ul class="list-group">
		  <li class="list-group-item active">{{model.description}}</li>
			  <li class="list-group-item">
			    <span class="badge list-group-item-warning"><i class="glyphicon glyphicon-tag"></i></span>
			    {{capitalize model.cuisine}}
			  </li>
			  <li class="list-group-item">
			    <span class="badge list-group-item-warning"><i class="glyphicon glyphicon-map-marker"></i></span>
			    {{capitalize model.location}}
			  </li>
			  <li class="list-group-item">
			    <span class="badge list-group-item-warning"><i class="glyphicon glyphicon-heart"></i></span>
			    {{star-rating rating=model.rating}}
			  </li>
			  <li class="list-group-item">
			    <span class="badge list-group-item-warning"><i class="glyphicon glyphicon-eur"></i></span>
			    {{star-rating rating=model.price}}
			  </li>
		</ul>


	</div>

	<div class="col-md-8">

		<p></p>


		<ul class="list-group">
		  <li class="list-group-item active">{{t 'openingHours'}}</li>
			{{#each model.days as |day|}}
			  <li class="list-group-item">
			    <span class="badge list-group-item-danger">{{model.closes}}</span>
			    <span class="badge list-group-item-success">{{model.opens}}</span>
			    {{capitalize (t (concat 'weekDays.' (weekday day)))}}
			  </li>
			{{/each}}
		</ul>


		<ul class="list-group">
		  <li class="list-group-item active">{{t 'menu'}}</li>
			{{#each model.menuItems as |item|}}
			  <li class="list-group-item">
			    <span class="badge list-group-item-warning">{{item.price}} €</span>
			    {{capitalize item.name}}
			  </li>
			{{/each}}
		</ul>

	</div>

</div>
