<div class="row-fluid">

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{t 'filterRestaurants'}}</h3>
			</div>

			<div class="panel-body">
				<label>{{t 'rating'}}</label>
				{{star-rating rating=filterRating on-click='updateRating'}}
			</div>

			<div class="panel-body">
				<label>{{t 'cuisine'}}</label>
				{{#power-select-multiple
					options=CUISINE_OPTIONS
					selected=filterCuisins
					placeholder=(t 'selectCuisins')
					onchange=(action (mut filterCuisins))
					as |cuisine|}}
					{{cuisine.title}}
				{{/power-select-multiple}}
			</div>

			<div class="panel-body">
				<label>{{t 'name'}}</label>
				{{input value=filterName placeholder=(t 'name') class="form-control"}}
			</div>

			<div class="panel-footer">
				<button {{action 'clear'}} class="btn btn-link">{{t 'clear'}}</button>
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{t 'foundRestaurants' count=filteredRestaurants.length}}</h3>
			</div>

			<div class="panel-body">
				{{#each filteredRestaurants as |restaurant| }}
					<div class="media">
						<a class="media-left media-middle">
							<img class="media-object" src={{restaurant-img restaurant.id}} width="64" height="64">
						</a>
						<div class="media-body">
							{{link-to restaurant.name 'restaurants.detail' restaurant}}
<table><th><td></td><td>{{star-rating rating=restaurant.rating}}</td><td><i class="glyphicon glyphicon-tag"></i></td><td><span class="label label-info">{{capitalize restaurant.cuisine}}</span></td></th></table>
<table><th><td>{{star-rating rating=restaurant.price}}</td><td><i class="label label-danger">€</i></td></th></table>
						</div>
					</div>
					<hr>
				{{/each}}
			</div>
		</div>
	</div>
</div>
